<nav>
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/add-user">Add User</a></li>
      <li><a routerLink="/items">Items</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/lost-and-found">Lost and Found</a></li>
      <li><a routerLink="/add-item">Add Item</a></li>
      <li><a routerLink="/claimed-items">Claimed Items</a></li>

    </ul>
  </nav>
  
  <!-- Main content -->
  <router-outlet></router-outlet>
