<!--Matthew Guild, Shane Petree-->

<header>
  <div class="container">
    <div class="logo-group">
      <img class="university-logo-large-img align-image-bottom" 
           alt="University of Nevada, Reno" 
           src="https://www.unr.edu/Assets/Icons/logos/university-logo.svg" 
           width="65" height="65">
      <span class="logo-text-new align-text-middle"> University of Nevada, Reno </span>
    </div>
    <h1>Manage Access</h1>
    <nav>
      <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="#">Map</a></li>
        <li><a routerLink="/add-item">Report Item</a></li>
        <li><a routerLink="/login">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="add-item-form">
  <h2>Add a User</h2>
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="netID">NetID for user</label>
      <input type="text" id="netID" formControlName="netID" placeholder="Enter NetID" required />
    </div>

    <div class="form-group">
      <label for="email">UNR email</label>
      <input type="text" id="email" formControlName="email" placeholder="Enter UNR email" required />
    </div>

    <div class="form-group">
      <label for="password">NetID password</label>
      <input type="password" id="password" formControlName="password" placeholder="Enter password" required />
    </div>

    <div class="form-group">
      <label for="role">Select Role:</label>
      <select id="role" formControlName="role" name="role">
        <option *ngFor="let role of availableRoles" [value]="role">{{ role }}</option>
      </select>          
    </div>
    
    <div class="form-group">
      <label>Buildings:</label>
      <div *ngFor="let building of buildings">
        <input type="checkbox" [value]="building.id" (change)="onCheckboxChange($event)" />
        {{ building.name }}
      </div>
    </div>

    <button type="submit" [disabled]="addUserForm.invalid">Add User</button>
  </form>
</section>

<footer>
  <p>&copy; 2025 University of Nevada, Reno. Lost and Found Service.</p>
</footer>
