<!--Matthew Guild, Shane Petree, Guilherme Cassiano, Mary Cottier-->

  <div class="page-wrapper">
    <header>
      <div class="top-bar">
        <div class="top-links">
          <a class="nav-link" routerLink="/map">Map</a>
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          <a class="login-button" routerLink="/logout">Logout</a>
        </div>
      </div>
      <div class="branding-bar">
        <img
          src="https://www.unr.edu/Assets/Icons/logos/university-logo.svg"
          alt="University of Nevada, Reno"
          width="65"
          height="65"
        />
        <h1>University of Nevada, Reno</h1>
        <p>Inspiring Excellence Since 1874</p>
      </div>
    </header>
  
    <main class="main-content">
      <section class="form-card">
        <h2>Add New User</h2>
        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
          <label for="netID">NetID:</label>
          <input id="netID" type="text" formControlName="netID" placeholder="Enter NetID" required />

          <label for="email">Email:</label>
          <input id="email" type="email" formControlName="email" placeholder="Enter Email" required />

          <label for="password">Password: must contain at least {{ pass_min_length }} characters, 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.</label>
          <input id="password" type="password" formControlName="password" placeholder="Enter Password" required />

          <label for="selectedRole">Role:</label>
          <select id="selectedRole" formControlName="selectedRole" required>
            <option value="" disabled>Select a role</option>
            <option *ngIf="role === 'superadmin'" value="admin">Admin</option>
            <option value="student">Student</option>
          </select>          

          <div class="checkbox-group">
            <label>Building Permissions:</label>
            <div *ngFor="let building of buildings">
              <label>
                <span>{{ building }}</span>
                <input type="checkbox" [value]="building" (change)="onCheckboxChange($event)" />
              </label>
            </div>
          </div>

          <div class="add-item-button-wrapper">
            <button type="submit" class="add-item-button">Add User</button>
          </div>
        </form>

      </section>
    </main>
  
    <footer>
      <p>&copy; 2025 University of Nevada, Reno. User Management System.</p>
    </footer>
  </div>
  
