<!--Mary Cottier, Shane Petree, Guilherme Cassiano, Matthew Guild-->
<div class="add-item">
  <div class="page-wrapper">
    <!-- HEADER -->
    <header class="header">
      <div class="top-bar">
        <div class="top-links">
          <a class="nav-link" routerLink="/map" routerLinkActive="active">Map</a>
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          <a class="login-button" routerLink="/login" routerLinkActive="active">Logout</a>
        </div>
      </div>

      <div class="branding-bar">
        <img
          class="university-logo-large-img align-image-bottom"
          alt="University of Nevada, Reno"
          src="https://www.unr.edu/Assets/Icons/logos/university-logo.svg"
          width="65"
          height="65"
        />
        <h1>University of Nevada, Reno</h1>
        <p>Inspiring Excellence Since 1874</p>
      </div>
    </header>

    <!-- MAIN CONTENT -->
    <main class="main-content">
      <section class="add-item-form">
        <h2>Add New Item</h2>

        <form (ngSubmit)="addItem()" #addItemForm="ngForm">
          <div>
            <label for="itemName">Item Name:</label>
            <input
              type="text"
              id="itemName"
              name="itemName"
              [(ngModel)]="itemName"
              required
            />
          </div>

          <div>
            <label for="description">Description:</label>
            <textarea
              id="description"
              name="description"
              [(ngModel)]="description"
              required
            ></textarea>
          </div>

          <div>
            <label for="location">Location:</label>
            <input
              type="text"
              id="location"
              name="location"
              [(ngModel)]="location"
              required
            />
          </div>

          <div>
            <label for="category">Category:</label>
            <input
              type="text"
              id="category"
              name="category"
              [(ngModel)]="category"
              required
            />
          </div>

          <div>
            <label for="image">Upload Image:</label>
            <input
              type="file"
              id="image"
              name="image"
              (change)="onFileSelected($event)"
              accept="image/*"
            />
          </div>

          <div class="add-item-button-wrapper">
            <button type="submit" class="add-item-button">Submit</button>
          </div>
        </form>
      </section>
    </main>

    <!-- FOOTER -->
    <footer>
      <p>&copy; 2025 University of Nevada, Reno. Lost and Found Service.</p>
    </footer>
  </div>
</div>
