<!--Mary Cottier, Shane Petree, Guilherme Cassiano, Matthew Guild-->
<div class="add-item">
  <div class="page-wrapper">
    <!-- HEADER -->
    <header class="header">
      <div class="top-bar">
        <div class="top-links">
          <a class="nav-link" routerLink="/map" routerLinkActive="active">Map</a>
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          <a class="login-button" routerLink="/logout" routerLinkActive="active">Logout</a>
        </div>
      </div>

      <div class="branding-bar">
        <img
          class="university-logo-large-img align-image-bottom"
          alt="University of Nevada, Reno"
          src="https://www.unr.edu/Assets/Icons/logos/university-logo.svg"
          width="65"
          height="65"
        />
        <h1>University of Nevada, Reno</h1>
        <p>Inspiring Excellence Since 1874</p>
      </div>
    </header>

    <!-- MAIN CONTENT -->
    <main class="main-content">
      <section class="add-item-form">
        <h2>Add New Item</h2>

        <form (ngSubmit)="onSubmit()" #addItemForm="ngForm">
          
          <!-- Item types -->
          <label for="itemType">Item Type:</label>
          <select id="itemType" name="itemType" required>
            <option value="" disabled selected>Select item type</option>
            <option value="clothing">Clothing</option>
            <option value="technology">Technology</option>
            <option value="medical_health">Medical/Health</option>
            <option value="miscellaneous">Miscellaneous</option>
          </select>

          <!-- Description -->
          <label for="image">Item description:</label>
          <textarea id="description"
                    name="description"
                    [(ngModel)]="item.description"
                    placeholder="Ex: size large green hoodie"
                    required></textarea>

          <!-- Location -->
          <label for="image">Lost and Found location:</label>
          <input type="text"
                 id="location"
                 name="location"
                 [(ngModel)]="item.location"
                 required />

          <label for="image">Location found:</label>
          <input type="text"
                 id="category"
                 name="category"
                 [(ngModel)]="item.locationFound"
                 placeholder="Ex: 3rd floor men's restroom"
                 required />

          <div>
            <label for="image">Upload Image:</label>
            <input type="file"
                   id="image"
                   name="image"
                   (change)="onFileSelected($event)"
                   accept="image/*" />
          </div>

          <div class="add-item-button-wrapper">
            <button type="submit" class="add-item-button">Submit</button>
          </div>
        </form>
      </section>
    </main>

    <!-- FOOTER -->
    <footer>
      <p>&copy; 2025 University of Nevada, Reno. Lost and Found Service.</p>
    </footer>
  </div>
</div>
