<!--Shane Petree, Guilherme Cassaino, Mary Cottier-->
<header class="header">
  <div class="top-bar">
    <div class="top-links">

      <span *ngIf="isLoggedIn">
        <a *ngIf="currentpage !== '/map'" class="nav-link" routerLink="/map">Map</a>
        <a *ngIf="currentpage !== '/dashboard'" class="nav-link" routerLink="/dashboard">DASHBOARD</a>
        <a *ngIf="currentpage !== '/lost-and-found' && currentpage !== '/dashboard'" class="nav-link" routerLink="/lost-and-found">LOST & FOUND</a>
        <a *ngIf="currentpage !== '/claimed-items' && currentpage !== '/dashboard'" class="nav-link" routerLink="/claimed-items">CLAIMED ITEMS</a>
        <a class="login-button" routerLink="/logout">LOGOUT</a>
      </span>

      <span *ngIf="!isLoggedIn">
        <a *ngIf="currentpage !== '/map'" class="nav-link" routerLink="/map">Map</a>
        <a *ngIf="currentpage !== '/lost-and-found'" class="nav-link" routerLink="/lost-and-found">LOST & FOUND</a>
        <a class="login-button" routerLink="/login">LOGIN</a>
      </span>

    </div>
  </div>

  <div class="branding-bar">
    <img src="https://www.unr.edu/Assets/Icons/logos/university-logo.svg" alt="University Logo" />
    <h1>University of Nevada, Reno</h1>
    <p>Inspiring Excellence Since 1874</p>
  </div>
</header>
