<!--Mary Cottier, Matthew Guild, Shane Petree-->
<!-- HEADER -->
<header class="header">
  <div class="top-bar">
    <div class="top-links">
    </div>
  </div>

  <div class="branding-bar">
    <img src="https://www.unr.edu/Assets/Icons/logos/university-logo.svg" alt="University Logo" />
    <h1>University of Nevada, Reno</h1>
    <p>Inspiring Excellence Since 1874</p>
  </div>
</header>

<div class="fullscreen-container">
  <div class="background-overlay"></div>
  <div class="login-container">
    <div class="login-box">
      <div class="return-to-map-container">
        <button mat-button type="button" routerLink="/map">← Return to Map</button>
      </div>
      <img class="university-logo-large-img align-image-bottom" alt="University of Nevada, Reno" src="https://www.unr.edu/Assets/Icons/logos/university-logo.svg" width="65" height="65">
      <h1>Sign in</h1>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>NetID</mat-label>
          <input matInput placeholder="Enter your NetID" [(ngModel)]="netId" name="netId" required>
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
      
        <button mat-button type="submit">Next</button>
      </form>      
      <div class="signin-options">
        <!--<button class="signin-option-btn">Sign-in options</button>-->
        <button class="signin-option-btn" routerLink="/forgot-password">Forgot Password?</button>
      </div>
    </div>
  </div>
</div>
    <!-- Footer Section -->
    <footer>
      <p>&copy; 2025 University of Nevada, Reno. Lost and Found Service.</p>
    </footer>
