<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNR Lost and Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addUser.css') }}">
</head>

<body>
    <!--Header section-->
    <header>
        <div class="container">
            <div class="logo-group">
                <img class="university-logo-large-img align-image-bottom" alt="University of Nevada, Reno " src="https://www.unr.edu/Assets/Icons/logos/university-logo.svg" width="65" height="65">
                <span class="logo-text-new align-text-middle">
                    University of Nevada, Reno
                </span>
            </div>
            <h1>Manage Access</h1>
            <nav>
                <ul>
                    <!--Shane Petree 1 line-->
                    <li><a href="{{ url_for('main.RedirectDashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('main.home') }}">Map</a></li>
                    <li><a href="#">Lost and Found</a></li>
                    <li><a href="#">Health and Safety</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="add-item-form">
        <h2>Validate an Account</h2>
        <form id="addUserSuper" action="{{ url_for('account.addUserSuper') }}" method="POST" enctype="multipart/form-data">

            <!-- Worker netID -->
            <label for="netID">NetID for user to be given access</label>
            <input type="text" id="netID" name="netID" placeholder="NetID"><br><br>

            <label for="email">UNR email for user to be given access</label>
            <input type="text" id="email" name="email" placeholder="email"><br><br>

            <aside class="sidebar">
                <label for="role">Choose user role:</label>
                <select id="role" name="role" onchange="updateHiddenRole()">
                    <option value="student" {% if role=='student' %}selected{% endif %}>Role: student</option>
                    <option value="admin" {% if role=='admin' %}selected{% endif %}>Role: admin</option>
                </select>
                <input type="hidden" id="hiddenRole" name="hidden_role" value="{{ role }}">
            </aside><br>

            <label for="NetID password">NetID password for user to be given access</label>
            <input type="text" id="NetID password" name="NetID password" placeholder="NetID password"><br><br>

            <label for="building">Building for which user will have Lost and Found access</label>
            <div id="building-options">
                {% for building in buildingsDisplay %}
                <label>
                    <input type="checkbox" name="building" value="{{ building }}" onchange="toggleClothingFields()">
                    {{ building }}
                </label>
                {% endfor %}
            </div><br>


            <!--Submit in batch-->
            <label for="batchFile">Upload a .txt file for batch addition</label>
            <input type="file" id="batchFile" name="batchFile" accept=".txt"><br><br>
            <!-- Submit Button -->
            <button type="submit">Validate Account</button>
        </form>
    </section>

    <!--Footer section-->
    <footer>
        <p>&copy; 2024 University of Nevada, Reno. Lost and Found Service.</p>
    </footer>

    <script src="addUserSuper.js"></script>
</body>

</html>
