
<div class="fullscreen-container">
  <div class="background-overlay"></div>
  <div class="login-container">
    <div class="login-box">
      <img class="university-logo-large-img align-image-bottom" alt="University of Nevada, Reno" src="https://www.unr.edu/Assets/Icons/logos/university-logo.svg" width="65" height="65">
      <h1>Sign in</h1>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>NetID*</mat-label>
          <input matInput placeholder="Enter your NetID">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password">
        </mat-form-field>

        <a href="#" class="help-link">Can't access your account?</a>
        <button type="submit">Next</button>
      </form>
      <div class="signin-options">
        <button class="signin-option-btn">Sign-in options</button>
      </div>
    </div>
  </div>
</div>
<footer>
  <p>&copy; 2025 University of Nevada, Reno. Lost and Found Service.</p>
</footer>