<div class="page-wrapper">
  <!-- HEADER -->
  <header class="header">
    <div class="top-bar">
      <div class="top-links">
        <a class="nav-link" routerLink="/map">Map</a>
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        <a class="nav-link" routerLink="/lost-and-found">Lost & Found</a>
        <a class="login-button" routerLink="/login">Logout</a>            
      </div>
    </div>
  
    <div class="branding-bar">
      <img class="university-logo-large-img align-image-bottom" alt="University of Nevada, Reno"
           src="https://www.unr.edu/Assets/Icons/logos/university-logo.svg" width="65" height="65">
      <h1>University of Nevada, Reno</h1>
      <p>Inspiring Excellence Since 1874</p>
    </div>
  </header>


  <google-map *ngIf="center" [center]="center" [zoom]="zoom" [options]="mapOptions">
    <map-marker *ngFor="let marker of markers"
                [position]="marker"
                [title]="marker.title"
                (mapClick)="onMarkerClick(marker.title)">
    </map-marker>
  </google-map>





  <!-- FOOTER -->
  <footer class="footer">
    <p>&copy; 2025 University of Nevada, Reno. Lost and Found Service.</p>
  </footer>
</div>