<!--Shane Petree-->
<div class="main-container">

  <app-nav-bar></app-nav-bar>

  <section class="forgot-password-form">
    <h2>Reset Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

      <span *ngIf="form_state === 'get_credentials'">
        <!--input field user's NetID-->
        <mat-form-field>
          <mat-label>NetID</mat-label>
          <input matInput formControlName="NetID" [value]="NetID" placeholder="tjerry" required>
        </mat-form-field>
        <br />

        <!--input field user's email-->
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" [value]="email" placeholder="firstlast@unr.edu" required>
        </mat-form-field>
        <br />
      </span>

      <span *ngIf="form_state == 'check_auth_code'">
        <!--input field user's auth_code from email-->
        <mat-form-field>
          <mat-label>One-Time Security Code</mat-label>
          <input matInput formControlName="auth_code" [value]="auth_code" placeholder="_ _ _ _ _ _" required>
        </mat-form-field>
        <br />
      </span>

      <span *ngIf="form_state === 'check_passwords_match'">
        <!--input field user's new password-->
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input type="password" matInput formControlName="new_password" [value]="new_password" placeholder="password" required>
        </mat-form-field>
        <br />

        <!--input field confirm user's password-->
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput formControlName="confirm_password" [value]="confirm_password" placeholder="password" required>
        </mat-form-field>
        <br />
      </span>

      <!--<button type="submit" mat-flat-button [disabled]="forgotPasswordForm.invalid">Reset Password</button>-->
      <!--<span *ngif="form_state === 'get_credentials'">
        <button type="submit" mat-flat-button>Check Credentials</button>
      </span>
      <span *ngif="form_state === 'check_auth_code'">
        <button type="submit" mat-flat-button>Check Credentials</button>
      </span>
      <span *ngif="form_state === 'check_passwords_match'">
        <button type="submit" mat-flat-button>Change Password</button>
      </span>-->

      <button type="submit" mat-flat-button>Check Credentials</button>

    </form>
  </section>

  <footer class="footer">
    <p>&copy; 2025 University of Nevada, Reno. Lost and Found Service.</p>
  </footer>
</div>
